@use 'variables' as *;

@mixin section-wrapper {
  min-height: calc(100vh - 6.4rem);
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 1.6rem;
  display: grid;
}

@mixin section-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
