@use 'variables' as *;

html {
  font-family: "neue-haas-grotesk-text", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 400;
  scroll-behavior: smooth;
  background-color: $clr__body;
  color: $clr__txt;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

code {
  font-family: "space-mono", monospace;
  font-size: 1.4rem;
}

a {
  color: $primary--light-theme;
}

body {

}
