@use 'variables' as *;
@use 'theme';

html {
  font-family: "acumin-pro", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--color__body);
  color: var(--color__txt);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "ivyjournal", sans-serif;
  font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "acumin-pro-wide", sans-serif;
  font-weight: 600;
  margin: 0;
}

p {
  font-size: 1.8rem;
}

a {
  color: unset;
  text-decoration: none;
}

.emphasis {
  color: var(--color__primary);
}
