// Colors
$black: #2c3e50;
$white: #fff5e9;
$grey: #d9d8d7;
$grey-alt: #ede8e8;
$accent: #f73859;
$primary: #48ada9;

// Breakpoints
$breakpoint--sm: 640px;
$breakpoint--md: 800px;
$breakpoint--lg: 1024px;
$breakpoint--xl: 1280px;
